<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infobeauty_app_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoBeautyappandroid">
        <activity android:name=".Principal" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginUsuario" />
        <activity android:name=".LoginEmpresa" />
        <activity android:name=".IndexUsuario" />
        <activity android:name=".IndexEmpresa" />
        <activity android:name=".Splashscreen" />
    </application>

</manifest>